* {
    font-family: "Avenir Next";
}

html,
body {
    margin: 0;
    padding: 0;
}

.page {
    width: 8.5in;
    height: 11in;
    border: 1px solid gray;
    background: var(--light-blue);
    padding: 0.1in;
    box-sizing: border-box;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}
