mixin education-card(educationHistory)
    .card.w-100
        .card-body
            h4.card-title Education
            each education in educationHistory
                +education-item(education)
            button.btn.btn-primary.btn-block(data-toggle='modal' data-target='#add-education-modal') Add Education

mixin education-item(education)
    .alert.alert-success
        h5= `${education.institution}, Class of ${education.end.split("/")[2]}`

mixin add-education-modal
    #add-education-modal.modal.fade(tabindex='1')
        .modal-dialog
            .modal-content
                form(action='/app/education/add' method='POST')
                    .modal-header
                        h5.modal-title Add Education
                        button.close(type='button' data-dismiss='modal')
                            span &times;
                    .modal-body
                        .row
                            .col-12 Level
                                input.form-control.mb-2(name='level' placeholder='Undergraduate')
                        .row
                            .col-12 Insitution
                                input.form-control.mb-2(name='institution' placeholder='Temple University')
                        .row
                            .col-12.col-md-6 Start
                                input.form-control.mb-2(name='start-date' placeholder='mm/dd/yyyy')
                            .col-12.col-md-6 End
                                input.form-control.mb-2(name='end-date' placeholder='mm/dd/yyyy')
                        .row
                            .col-12.col-md-8 Degree/Program
                                input.form-control.mb-2(name='degree' placeholder='B.Sc. Computer Science')
                            .col-12.col-md-4 GPA
                                input.form-control.mb-2(type='number' step='0.1' name='gpa' placeholder='GPA')
                        .row
                            .col-12 Description
                                textarea.form-control.mb-2(name='description')
                    .modal-footer
                        button.btn.btn-secondary(
                            type='button'
                            data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Save
