mixin goals-card
    .card.w-100.mb-4
        .card-body
            h4.card-title Goals
            
            p
                | I am a(n)
                datalist
                    option College Student
                    option High School Student
                    option University Professor
                    option High School Teacher/Educator
                    option K-12 Educator
                    option Computer Programmer
                    option 

            button.btn.btn-primary.btn-block(data-toggle='modal' data-target='#add-education-modal') Add Education