:markdown-it
    # Add Education

    1. Go to your [dashboard](/app/dashboard#education-card) and find the education card.  
    ![Education card](/images/help-pages/education-card.png)
    2. Click on "Add Education"
    3. Enter the required information
        - Level of Education (Undergraduate, Graduate, High School, Technical/Vocational School, etc)
        - Institution of Education (eg. Temple University)
        - Start Date (Format: `mm/yyyy`)
        - End Date (Format: `mm/yyyy` or leave blank if currently enrolled)
    4. Enter a description if you want

    # Edit or Delete Education

    1. Go to your [dashboard](/app/dashboard#education-card) and find the education card.
    2. Click on the edit button to the left of the item you would like to edit  
    ![Edit button for education](/images/help-pages/edit-education-button.png)
    3. Modify any of the fields and click Update. To delete an item, simply click the checkbox
    in the red box, then click Update.  
    ![Edit education thumbnail](/images/help-pages/edit-education-thumbnail.png)