.row
    .col-12
        :markdown-it
            ## Access the Account Page

            To `login` or `signup`, you will first need to access the accounts page by doing the following:
            
            1. Click **Home**
            2. Click **Get Started**
            3. You will be presented with the account page

            [You can alternatively click here](/app/account)
.row
    .col-12.col-md-6
        :markdown-it
            ## Signup

            On the right hand side of your screen, you will see the sign up form. Enter the following information:

            -   Name (First & Last)
            -   Email
            -   Password (+ Confirmation)
    .col-12.col-md-6
        :markdown-it
            ## Login

            On the left hand side of your screen, you will see the login form. Enter your **email** and **password** to login.

            > Passwords are case-sensitive



        