:markdown-it
    > Personal information which is added to your account will show up on your resume.
    > If you change your email, it will also affect your account settings and you may have to reverify the email.

    # Modify Contact Information

    There are several cards on your dashboard where you can modify contact information.

    1. Go to your [dashboard](/app/dashboard#personal-information).
    2. Find the card labeled "Personal Information"  
    ![Personal Information Card](/images/help-pages/personal-information-card.png)
    3. Edit or add any personal information you would like.