#help-page
    :markdown-it
        # Resume Elements: Education and Work Experience

        **Topics**

        1. [Which Comes First?](#which-comes-first)
        2. [What To Include](#what-to-include)
            - [For Education](#what-to-include-for-education)
            - [For Work](#what-to-include-for-work)

    h2#which-comes-first Which Comes First?

    .row
        .col-12.col-md-6
            :markdown-it
                ### Education?

                If you are currently enrolled in undergraduate education, you should have education listed first. The exception to this is if you have good foundational work experience in your field, or if you are applying for graduate school. The same applies if you are graduate school, unless you have had years of experience prior to graduate school.
        .col-12.col-md-6
            :markdown-it
                ### Work?

                If you have at least two jobs under your belt, then you should list your work experience first. The exception to this rule is if you have a stronger educational foundation (Undergraduate, Graduate, and/or Ph.D), and have work experience which does not reflect the standard of academic achievement.

    
    h2#what-to-include What To Include

    .row
        .col-12.col-md-6#what-to-include-for-education
            :markdown-it
                ### Education

                You should always include the following:

                -   The **institution** you attended
                -   The **month** and **year** which you **started**
                -   The **month** and **year** which you **completed**; if you are still attending, you should indicate that you are still attending. (On Resumator, you should leave it blank, and we will fill it in for you)
                -   The **degree** which you received. For American public high school education, the degree should be replaced with **"Diploma"**. Vocational and technical high schools should list your training.
                
                If you were/are involved in Greek life or school clubs, make sure to include them in the description of your education.

                > If you believe your GPA is good enough, **include it**
        .col-12.col-md-6#what-to-include-for-work
            :markdown-it
                ### Work

                -   Your **employing organization**
                -   Your **job position**
                -   When you **started** working at that job
                -   When you **stopped** working at that job; or indicate that you are currently working
                -   A brief description of your job responsibilities

                > If you were **fired**, do not include the job on your resume.
                
                > If you were terminated **at no fault of your own**, make sure to include that job on your resume.
            

