doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        .container.mt-4
            .row
                .col-12.col-md-5
                    h2 Login

                    form.row(action='/app/account/login' method='POST')
                        .col-12
                            label Email
                            input.form-control.mb-2(type='email' name='email')
                        .col-12
                            label Password
                            input.form-control.mb-2(type='password' name='password')
                        .col-12
                            button.btn.btn-primary(type='submit') Login
                .col.text-center(style='padding-top:10%;padding-bottom:10%;')
                    span.p-4.bg-light.text-dark(style='border-radius:100%;') OR
                .col-12.col-md-5
                    h2 Sign Up

                    form.row(action='/app/account/signup' method='POST')
                        .col-12.col-md-6
                            label First Name
                            input.form-control.mb-2(type='text' name='fname')
                        .col-12.col-md-6
                            label Last Name
                            input.form-control.mb-2(type='text' name='lname')
                        .col-12
                            label Email
                            input.form-control.mb-2(type='email' name='email')
                        .col-12.col-md-6
                            label Password
                            input.form-control.mb-2(type='password' name='password')
                        .col-12.col-md-6
                            label Confirm Password
                            input.form-control.mb-2(type='password' name='passwordconf')
                        .col-12
                            button.btn.btn-primary(type='submit') Sign Up

        include components/scripts