doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        .container.mt-4
            .row
                .col-12.col-md-5
                    h2 Login
                .col
                    span.p-4.bg-dark.text-light(style='border-radius:100%') OR
                .col-12.col-md-5
                    h2 Sign Up

        include components/scripts