include components/dashboard/work-experience
include components/dashboard/education
include components/dashboard/personal-info
include components/dashboard/skillset
include components/dashboard/certifications
include components/dashboard/goals
include components/dashboard/dash-mixins

doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        +add-work-experience-modal
        +add-education-modal
        +add-skill-modal
        +add-certification-modal

        each job, index in workExperience
            +edit-work-experience-modal(job, index)
        each education in educationHistory
            +edit-education-modal(education)
        each skill in skillset
            +edit-skill-modal(skill)
        each certification in certifications
            +edit-certification-modal(certification)
        
        .container.mt-4
            .row
                .col-12
                    +overview-card(account)
            .row
                .col-12.col-lg-6
                    +personal-info-card(account)
                    +education-card(educationHistory)
                    +certifications-card(certifications)
                .col-12.col-lg-6
                    +goals-card(account)
                    +skills-card(skillset)
                    +work-experience-card(workExperience)                    
        .container-fluid.mt-4.text-dark.pt-4.pb-4.bg-light
            .container
                .row
                    .col-12
                        h4.mb-4 Resume Strength
                .row
                    .col-12
                        h5 Overall Stregth
                            +strength-indicator-dot(analysis.strength.overall)
                        +strength-progress-fill(analysis.strength.overall)
                .row
                    +resume-strength-progress-bar('Education', analysis.strength.education)
                    +resume-strength-progress-bar('Work Experience', analysis.strength.work)
                    +resume-strength-progress-bar('Skills', analysis.strength.skills)
                    +resume-strength-progress-bar('Certifications', analysis.strength.certifications)
                if analysis.requirements.length > 0
                    br
                    h5 Requirements
                    each suggestion in analysis.requirements
                        .row
                            .col-12
                                .alert.alert-light(style='font-size:0.9em;vertical-align:middle')
                                    .btn.mr-2.text-danger
                                        if suggestion.for == 'education'
                                            ion-icon(name='school-outline')
                                        else if suggestion.for == 'work'
                                            ion-icon(name='briefcase-outline')
                                        else if suggestion.for == 'skills'
                                            ion-icon(name='checkmark-done-outline')
                                        else if suggestion.for == 'certifications'
                                            ion-icon(name='document-outline')
                                    span= suggestion.message
                if analysis.tips.length > 0
                    br
                    h5 Tips
                    each suggestion in analysis.tips
                        .row
                            .col-12
                                .alert.alert-light(style='font-size:0.9em;vertical-align:middle')
                                    .btn.mr-2.text-info
                                        if suggestion.for == 'education'
                                            ion-icon(name='school-outline')
                                        else if suggestion.for == 'work'
                                            ion-icon(name='briefcase-outline')
                                        else if suggestion.for == 'skills'
                                            ion-icon(name='checkmark-done-outline')
                                        else if suggestion.for == 'certifications'
                                            ion-icon(name='document-outline')
                                    span= suggestion.message
        include components/footer
        include components/scripts