include components/dashboard/work-experience
include components/dashboard/education
include components/dashboard/personal-info

doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar
        +add-work-experience-modal
        +add-education-modal
        each job, index in workExperience
            +edit-work-experience-modal(job, index)
        each education in educationHistory
            +edit-education-modal(education)
        
        .container.mt-4
            .row
                .col-12.col-md-6
                    p= `Email: ${account.email}`
                .col-12.col-md-6.text-left.text-md-right
                    p= `Name: ${account.fname} ${account.lname}`
            .row
                .col-12.col-md-6
                    +work-experience-card(workExperience)
                    +personal-info-card(account)
                .col-12.col-md-6
                    +education-card(educationHistory)

        include components/scripts