include components/dashboard/work-experience
include components/dashboard/education
include components/dashboard/personal-info
include components/dashboard/skillset
include components/dashboard/certifications
include components/dashboard/goals

doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        +add-work-experience-modal
        +add-education-modal
        +add-skill-modal
        +add-certification-modal

        each job, index in workExperience
            +edit-work-experience-modal(job, index)
        each education in educationHistory
            +edit-education-modal(education)
        each skill in skillset
            +edit-skill-modal(skill)
        each certification in certifications
            +edit-certification-modal(certification)
        
        .container.mt-4
            .row
                .col-12
                    span= `${account.fname} ${account.lname} (${account.email})`
            .row
                .col-12
                    hr
            .row
                .col-12.col-md-6
                    +personal-info-card(account)
                    +skills-card(skillset)
                .col-12.col-md-6
                    +goals-card()
                    +education-card(educationHistory)
                    +work-experience-card(workExperience)
                    +certifications-card(certifications)


        include components/scripts