include components/dashboard/work-experience
include components/dashboard/education
include components/dashboard/personal-info
include components/dashboard/skillset
include components/dashboard/certifications
include components/dashboard/goals

doctype html

html(lang='en-US')
    head
        include components/head
        link(rel='stylesheet' href='/stylesheets/help.css')
    body
        include components/navbar

        .container.mt-4
            if !helpPage
                .row
                    h1 Help
                    hr
                .row
                    .col-12.col-md-6.mb-4
                        h3
                            .btn
                                ion-icon.text-primary(name='finger-print-outline')
                            | Resume Elements
                        ul.list-group
                            li.list-group-item
                                a(href='?page=work-edu') Education and Work Experience
                            li.list-group-item
                                a(href='?page=modify-contact-info') Certification/Licenses, Awards/Honors
                            li.list-group-item
                                a(href='?page=session-errors-explained') Objective Statement
                            li.list-group-item
                                a(href='?page=database-errors-explained') Skills
                    .col-12.col-md-6.mb-4
                        h3
                            .btn
                                ion-icon.text-primary(name='document-outline')
                            | Resume Document Setup
                        ul.list-group
                            li.list-group-item
                                a(href='?page=edit-education') Standard vs Creative Resume
                            li.list-group-item
                                a(href='?page=edit-work') Typography (Font Style)
                            li.list-group-item
                                a(href='?page=edit-certifications') Margins & Graphics
                            li.list-group-item
                                a(href='?page=edit-skills') Colors
                    .col-12.col-md-6.mb-4
                        h3
                            .btn
                                ion-icon.text-primary(name='barbell-outline')
                            | Writing Style
                        ul.list-group
                            li.list-group-item
                                a(href='?page=resume-strength-meters') Bulleted Job/Education Description
                            li.list-group-item
                                a(href='?page=resume-requirements') Grammar and Spellcheck
                            li.list-group-item
                                a(href='?page=resume-tips') Contact and Personal Information
            else
                .mt-4
                    case helpPage
                        when "work-edu"
                            include help-pages/work-edu
                        default
                            h2 Could not find the help page you requested
        include components/footer
        include components/scripts