doctype html

html(lang='en-US')
    head
        include components/head
    body
        .container-fluid#window
            .row.p-4
                .col-12.p-4
                    h1 Hello World

        include components/scripts