include components/dashboard/personal-info


doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        
        .container.mt-4
            .row
                .col-12
                    span= `${account.fname} ${account.lname} (${account.email})`
            .row
                .col-12
                    hr
            if !account.emailVerified
                .row.mb-4
                    .col-12
                        .card.w-100.p-4
                            h3.text-center Email Verification
                            p.text-center.mt-4.mb-4
                                | Please enter your email verification code.
                                | You should have received an email from&nbsp;
                                em Viraj at Resumator.
                            .mt-4.mb-4.text-center
                                form(action='/app/account/verify')
                                    | Code:
                                    input.pop-input.p-2.ml-4(style='font-size:1em' name='token' placeholder=' ')
                                    button.btn.btn-primary(type='submit') Verify
                            .mt-4.text-center
                                i To resend the verification code, click&nbsp;
                                i
                                    a(href='/app/account/resend-verification') here
            .row
                .col-10.col-md-8
                    +personal-info-card(account)
                .col-2.col-md-4
                    .alert.alert-primary(style='margin-left:-60px;margin-top:10px') You can access this on your 
                        a(href='/app/dashboard') Dashboard
            .row
                .col-12
                    .alert.alert-secondary.text-right
                        a.btn.btn-light.text-danger(href='/app/account/logout') Logout
                

        include components/footer
        include components/scripts