doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        //- Resume information should be displayed as cards on here

        include components/scripts