include components/dashboard/work-experience
include components/dashboard/education
include components/dashboard/personal-info
include components/dashboard/skillset
include components/dashboard/certifications

doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        
        .container.mt-4
            .row
                .col-12
                    span= `${account.fname} ${account.lname} (${account.email})`
            .row
                .col-12
                    hr
            .row
                .


        include components/scripts