include components/dashboard/work-experience
include components/dashboard/education

doctype html

html(lang='en-US')
    head
        include components/head
    body
        include components/navbar

        .container.mt-4
            .row
                .col-12.col-md-6.col-lg-3.mb-4
                    .card.preview-theme-card.p-4(style='height:100%' onclick='window.location=`/app/themes/preview?theme=budgie-blue`')
                        img.card-img-top(src='/images/theme-thumbs/BudgieBluePreview.png')
                        .card-body
                            h5.card-title.text-center Budgie Blue
                            hr
                            p(style='text-align:justify;text-justify:inter-character')
                                | White on light blue. Black on white. Bold headingss. 
                .col-12.col-md-6.col-lg-3.mb-4
                    .card.preview-theme-card.p-4(style='height:100%')
                        img.card-img-top(src='/images/theme-thumbs/LuxPreview.png')
                        .card-body
                            h5.card-title.text-center Lux
                            hr
                            p(style='text-align:justify;text-justify:inter-character')
                                | Lux is a clean &amp; simple theme, providing
                                | a touch of class to a boring resume.
                            
        include components/footer
        include components/scripts