#help-page {
    font-size: 1.25rem;
    font-weight: lighter;
}

#help-page p,
#help-page ul,
#help-page ol {
    text-align: justify;
    text-justify: kashida;
}

#help-page h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: lighter;
    text-align: center;
}

#help-page h2 {
    margin-top: 1em;
    font-weight: lighter;
    text-align: center;
}

#help-page h3 {
    margin-top: 1em;
    font-weight: lighter;
    text-align: center;
}

#help-page ul,
#help-page ol {
    margin-bottom: 1em;
}

#help-page .row {
    margin-bottom: 1em;
}

.container img {
    max-width: 100%;
    transition: 0.5s opacity;
    opacity: 1;
}

.container img:hover {
    opacity: 0.5;
}
